body {
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}

.search-bar-input {
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}
.raid-id-input {
    margin-right: 5px;
}
.raids-ul {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    border: 1px solid grey;
}
.raids-ul button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    box-shadow: 1px 3px #888888;
}
.raids-ul button:hover {
    background-color: darkgrey;
    transition: 250ms;
}
.raids-ul button:active {
    background-color: rgb(230, 230, 230);
    transition: 100ms;
}

.raids-ul button.selected {
    background-color: darkgrey;
}

.raids-ul span.numOrder {
    float:  left;
}

.raids-ul button + button {
    border-top: 1px solid grey;
}
.raids-ul li {
    padding: 10px 0;
}
.raids-ul li span {
    margin: 0 10px;
}
.search-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
}
.suggestions-list-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid grey;
    background: white;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
}
.suggestions-list-wrapper button {
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    width: 100%;
    padding: 3px;
}
.suggestions-list-wrapper button:hover {
    background-color: darkgrey;
    transition: 250ms;
}
.suggestions-list-wrapper button:active {
    background-color: rgb(230, 230, 230);
    transition: 100ms;
}
.suggestions-list-wrapper .active {
    background-color: rgb(230, 230, 230);
    transition: 100ms;
}
.suggestions-list-wrapper button + button {
    border-top: 1px solid grey;
}

.auto-join-wrapper.hidden {
    display:  none;
}

.raids-ul li {
    text-shadow: 1px dimgray;
    animation: fadein 1.5s;
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
